html {
  background-color: #f1f1f2
}

main {
  padding-bottom: 2.5rem;
}

/* NAV BAR AVATAR */
.inset {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6),
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}

.jumbotron {
background-size: cover;
height: 100%;
min-height: 300px;
}

h1 {
  font-variant: small-caps;
}

/* PHOTO ALBUM */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* PROJECTS - Title and Live Code links */

.alignleft {
  float: left;
}

.alignright {
  float: right
}

/*  FOOTER */
.footer {
	bottom: 0;
	width: 100%;
	text-align: center;
}

.footer ul {
		margin: auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
		border-top: 10px;
		border-bottom: 3px;
}

.footer ul li {
	display: inline-block;
	border-left: thin solid #e6e6e6;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.8em;
	color: grey;
  overflow: hidden;
}

.footer ul li a {
	text-decoration: none;
}

.footer ul li a:hover {
	text-decoration: none;
}
